body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 95%;
  background-color: #edf2f9;
  border-top: 2px solid #06a9ca;

}

a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 95%;
  color:#5D6D7E;
}

a:hover {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 95%;
  text-decoration: none;
  color:#000;
}

#barra-superior {
  padding-top: 5px;
}

.btn-login {
background-color:#06a9ca;
color:#fff;
}

.btn-login:hover {
  background-color:#06a9ca;
  color:#fff;
  }

.inputLogin {
  font-size: 95%;
  color: #566573;
  padding: 5px 5px 5px 25px;
}

.labelLogin {
  font-size: 85%;
  
}

.espacioUno {
  width: 100%;
  height: 10px;
}

.espacioDos {
  width: 100%;
  height: 20px;
}
.buscador {
  width: 330px;
  height: 35px;
  -moz-border-radius: 10px;
-webkit-border-radius: 10px;
padding-left: 15px;
padding-top: 5px;
padding-bottom: 5px;
}

.space {
  margin-left: 5px;
  margin-right: 5px;
}


#general {
  background-color: #F2F3F4;
  /*background-color: #EAEDED;*/
  /*background-color: #000;*/
  border-radius: 20px 20px 0 0;
  padding-left: 10px;
  
}

.titulos-menu {
  position: relative;
  font-size: 120%;
  font-weight: bold;
  display: block;
  clear: both;
  color:#5D6D7E;
  margin-top:10px;
  margin-bottom:10px;
}

ul.horizontal{
  margin:0;
  padding:0;
  font-size: 95%;
  /*color:#808B96;*/
  color:#5D6D7E;
  display: block;
  }
  
  ul.horizontal li{
  display:block;
  float:left;
  list-style-type:none;
  position:relative;
  width:180px;
  }

ul.horizontal li a{
  text-decoration:none;
  display:inline-block;
  padding:5px 10px;
  height:27px;
  color:#5D6D7E;
  }
            
ul.horizontal li a:hover{
   color:#000;
}

.fa-file-text-o {color: #5D6D7E;} 
.fa-users {color: #5D6D7E;}
.fa-user {color: #5D6D7E;}
.fa-circle-o-notch {color: #5D6D7E;}
.fa-user-circle-o {color: #5D6D7E;}
.fa-user-secret {color: #5D6D7E;}
.fa-handshake-o {color: #5D6D7E;}
.fa-caret-square-o-right {  color: #5D6D7E;}
.fa-graduation-cap {color: #5D6D7E;}


.fa-file-text-o:hover {color: #34495E;} 
.fa-users:hover {color: #34495E;}
.fa-user:hover {color: #34495E;}
.fa-circle-o-notch:hover {color: #34495E;}
.fa-user-circle-o:hover {color: #34495E;}
.fa-user-secret:hover {color: #34495E;}
.fa-handshake-o:hover {color: #34495E;}
.fa-caret-square-o-right:hover {  color: #34495E;}
.fa-graduation-cap:hover {color: #34495E;}

.fa-trash-o{
  background-color:#F0360E;
  color: #fff;
  padding: 5px;
  border-radius: 4px 4px 4px 4px;
}

#submitAP {
  border:0px;
  background-color: transparent;
}

.fa-cog {
  color: #06a9ca;
}
.fa-shopping-cart{
  color: #06a9ca;
}
.fa-bell-o{
  color: #06a9ca;
}
.fa-user {
  color: #06a9ca;
}

.linea {
  /*border-top: 1px dotted #E5E7E9;*/
  border-top: 2px dotted #CCD1D1;
}

.brain-foot {
  color:#566573;
  font-weight: bold;
  font-size:210%;
}

ul.footer{
  margin:0;
  padding:0;
  font-size: 95%;
  /*color:#808B96;*/
  color:#5D6D7E;
  display: block;
  }
  
  ul.footer li{
  display:block;
  float:left;
  list-style-type:none;
  position:relative;
  width:180px;
  }

ul.footer li a{
  text-decoration:none;
  display:inline-block;
  padding:5px 10px;
  height:27px;
  color:#5D6D7E;
  }
            
ul.footer li a:hover{
   color:#000;

}

.list-group {
  border:none;
  background-color: transparent;
}

.list-group-item {
  border:none;
  background-color: transparent;
  padding-top:5px;
  padding-bottom:5px;
}

ul.list-group li a{
  text-decoration:none;
  display:inline-block;
  padding:5px 10px;
  height:27px;
  color:#5D6D7E;
  }
            
ul.list-group li a:hover{
   color:#000;
}

.lineaSolida{
  border-top: 2px dotted #CCD1D1;
}


/*
input[type=button] {
  color:#08233e;
  font:2.4em Futura, ‘Century Gothic’, AppleGothic, sans-serif;
  font-size:70%;
  
  cursor:pointer;
}

input[type=button]:hover {
  background-color:rgba(255,204,0,0.8);
}*/